.homePage {
    max-width: 600px;
    /* Center posts horizontally */
    margin: 0 auto;
}

.post {
    background-color: black;
    color: white;
    border: 1px solid black;
    /* Add space between border and content */
    padding: 8px;
    border-radius: 12px;
    margin-top: 50px;
    padding: 0 20px;
    font-size: 20px;
}

.deletePost > button > span {
    width: 50px;
    height: 50px;
}