.homePage {
    max-width: 600px;
    /* Center posts horizontally */
    margin: 0 auto;
}

.post {
    background-color: black;
    color: white;
    border: 1px solid black;
    /* Add space between border and content */
    padding: 8px;
    border-radius: 12px;
    margin-top: 50px;
    padding: 0 20px;
    font-size: 20px;
    position: relative;
}

.title h1 {
    margin-bottom: 0;
}

.postTextContainer {
    min-height: 50px;
}

.deletePost > button {
    background-color: #FF4136;
    padding: 0 30px;
    border: solid black 3px;
    border-radius: 10px;
    /* The 'position: absolute' property tells the browser to position the element relative to its nearest positioned ancestor, if any; otherwise,
    it is positioned relative to the initial containing block. The 'top' and 'left' properties specify the distance of the element from the top and 
    left edges of its container, respectively. */
    position: absolute;
    top: 20px;
    left: -55px;

    cursor: pointer;
    z-index: 1;
    /* Defines the shape of the element to give it a cut-off appearance */
    clip-path: inset(0 65% 0 0);

    /* Animation */
    transition: all 0.3s ease-in-out;

}

.deletePost > button:hover {
    /* Extends the button out when cursor hovers over it */
    left: -125px;
    clip-path: inset(0 19% 0 0);
}

#trashCan {
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: relative;
    left: -17px;
}

#deleteText {
    font-size: 20px;
    font-weight: bold;
    color: white;
    position: relative;
    bottom: 7.5px;
    left: -7px;
}
